html{
	scroll-behavior: smooth;
}

body{
	background-color: LavenderBlush;
}

h{
	font-size:34px;
	align-items: center;
	font-weight: bold;
}

.inner-page-links{
	margin-top: 100px;
	margin-bottom: 100px;
	font-size: 22px;
}

.works-links{
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 25px;
}

.paragraph{
	font-size: 18px;
}

.revised{
	font-weight:bold;
}