html{
	scroll-behavior: smooth
}

body{
	background-color: LavenderBlush
}

h{
	font-size:34px
	align-items: center
	font-weight: bold
}

."inner-page-links"{
	margin-top: 40px
	margin-bottom: 40px
	font-size: 22px
}

."works-links"{
	margin-top: 40px
	margin-bottom: 40px
	font-size: 25px
}

.paragraph{
	font-size: 18px
}